#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0,0.1);
    color: #f1f1f1;
    width: 100%;
    margin: 40px ;
    padding: 100px;
}
h1 {



    font-family: 'Black And White Picture', sans-serif;

font-size: 64px;

}
.btn {
    background-color:rgba(0,0,0,0);
    color: black;
    border: 0px solid rgba(0,0,0,0.1); 
}
